<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.ui.popupMenus"
	>
		<objectContribution
			adaptable="true"
			id="com.liferay.ide.workspace.project.ui.addLiferayNature"
			objectClass="org.eclipse.core.resources.IProject"
		>
			<action
				class="com.liferay.ide.workspace.project.ui.action.AddLiferayNatureAction"
				icon="icons/liferay_logo_16.png"
				id="com.liferay.ide.workspace.project.ui.action.AddLiferayNatureAction"
				label="Add Liferay Project Nature"
				menubarPath="org.eclipse.ui.projectConfigure/additions"
			>
			</action>
			<visibility>
				<and>
					<objectState name="open" value="true" />
					<or>
						<objectState name="nature" value="org.eclipse.m2e.core.maven2Nature" />
						<objectState name="nature" value="org.eclipse.buildship.core.gradleprojectnature" />
					</or>
					<not>
						<objectState name="nature" value="com.liferay.ide.workspace.core.liferayNature" />
					</not>
				</and>
			</visibility>
		</objectContribution>
		<objectContribution adaptable="true" id="com.liferay.ide.ui.popupmenu" objectClass="org.eclipse.core.resources.IResource">
			<menu
				icon="icons/liferay_logo_16.png"
				id="liferayPopupMenuCategory"
				label="%liferay.menu.label"
			>
				<separator name="slot1" />
			</menu>
		</objectContribution>
	</extension>
</plugin>